
main{
    margin:0 auto;
    width:800px;

}
h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

.contenedor{
    width: 100%;
    height:50px;
    background-color: grey;
    display: flex;
    align-items: center;
    padding-left:5px;
}
.subcabecera{
    font-family: "Helvetica";
    font-weight: bold;
    
}
.float-right{
    float:left;
}

.articulo{
    width:70%;
    margin:0 auto;
}

.enunciado3{
    font-size: 30px;
}

.enunciado4{
    font-size: 25px;
}

table{
    width:100%;
}
.fondo{
    border:none;
    border-collapse: collapse;
}
caption{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #536878;
    height: 80px;
    text-align: center;
}

td{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
    height: 60px;
    color: white;
    padding-left: 20px;
    width: 800px;
}

.grid {
   display: grid;
  width: 450px;
  grid-template-columns: repeat(6, 1fr); 
  grid-auto-rows: 60px;
  gap: 10px;
  background: black;
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box; 
  }

  .grid div {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    
  }

  .grid div:nth-child(1)  { background: hsl(270, 100%, 80%); }
  .grid div:nth-child(2)  { background: hsl(270, 100%, 78%); }
  .grid div:nth-child(3)  { background: hsl(270, 100%, 76%); }
  .grid div:nth-child(4)  { background: hsl(270, 100%, 74%); }
  .grid div:nth-child(5)  { background: hsl(270, 100%, 72%); }
  .grid div:nth-child(6)  { background: hsl(270, 100%, 70%); }
  .grid div:nth-child(7)  { background: hsl(270, 100%, 68%); }
  .grid div:nth-child(8)  { background: hsl(270, 100%, 66%); }
  .grid div:nth-child(9)  { background: hsl(270, 100%, 64%); }
  .grid div:nth-child(10) { background: hsl(270, 100%, 62%); }
  .grid div:nth-child(11) { background: hsl(270, 100%, 60%); }
  .grid div:nth-child(12) { background: hsl(270, 100%, 58%); }
  .grid div:nth-child(13) { background: hsl(270, 100%, 56%); }
  .grid div:nth-child(14) { background: hsl(270, 100%, 54%); }
  .grid div:nth-child(15) { background: hsl(270, 100%, 52%); }
  .grid div:nth-child(16) { background: hsl(270, 100%, 50%); }
  .grid div:nth-child(17) { background: hsl(270, 100%, 48%); }
  .grid div:nth-child(18) { background: hsl(270, 100%, 46%); }
  .grid div:nth-child(19) { background: hsl(270, 100%, 44%); }
  .grid div:nth-child(20) { background: hsl(270, 100%, 42%); }
  .grid div:nth-child(21) { background: hsl(270, 100%, 40%); }
  .grid div:nth-child(22) { background: hsl(270, 100%, 38%); }
  .grid div:nth-child(23) { background: hsl(270, 100%, 36%); }
  .grid div:nth-child(24) { background: hsl(270, 100%, 34%); }
  .grid div:nth-child(25) { background: hsl(270, 100%, 32%); }
  .grid div:nth-child(26) { background: hsl(270, 100%, 30%); }
  .grid div:nth-child(27) { background: hsl(270, 100%, 28%); }
  .grid div:nth-child(28) { background: hsl(270, 100%, 26%); }
  .grid div:nth-child(29) { background: hsl(270, 100%, 24%); }
  .grid div:nth-child(30) { background: hsl(270, 100%, 22%); }
  .grid div:nth-child(31) { background: hsl(270, 100%, 20%); }
  .grid div:nth-child(32) { background: hsl(270, 100%, 18%); }
  .grid div:nth-child(33) { background: hsl(270, 100%, 16%); }
  .grid div:nth-child(34) { background: hsl(270, 100%, 14%); }
  .grid div:nth-child(35) { background: hsl(270, 100%, 12%); }
  .grid div:nth-child(36) { background: hsl(270, 100%, 10%); }